.login-container {
  height: 100vh;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(24, 27, 43);
  background: linear-gradient(
    28deg,
    rgba(24, 27, 43, 1) 0%,
    rgba(78, 83, 107, 1) 100%
  );

  .title,
  label {
    color: $text-white;
  }

  .title-container {
    text-align: center;

    .login-logo {
      background: url("../../assets/img/login-logo.png") center center no-repeat;
      background-size: contain;
      height: 100px;
      margin: 30px auto;
    }

    .title {
      letter-spacing: 1px;
    }
  }

  .change-page {
    width: 80%;
    .question {
      color: $light-grey;
      display: block;
    }

    button {
      padding: 15px 15px 15px 0px;
      border: none;
      background: none;
      color: $text-white;
    }
  }
}
