.login-container {
  height: 100vh;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(24, 27, 43);
  background: linear-gradient(
    28deg,
    rgba(24, 27, 43, 1) 0%,
    rgba(78, 83, 107, 1) 100%
  );

  .title,
  label {
    color: $text-white;
  }

  .title-container {
    text-align: center;

    .login-logo {
      background: url("../../assets/img/login-logo.png") center center no-repeat;
      background-size: contain;
      height: 100px;
      margin: 30px auto;
    }

    .title {
      letter-spacing: 1px;
    }
  }

  // .register-form {
  //   display: flex;
  //   flex-direction: column;
  //   margin: 90px auto 50px auto;
  //   width: 80%;
  //   box-sizing: content-box;

  //   .input-group {
  //     margin-top: 0;
  //     margin-bottom: 35px;

  //     label {
  //       padding-left: 5px;
  //       letter-spacing: 1px;
  //     }

  //     input {
  //       background: none;
  //       border-color: $light-grey$cod-green-medium;
  //       border-width: 0 0 2px;
  //       box-sizing: border-box;
  //       color: $text-white;
  //       margin-top: 15px;
  //       margin-bottom: 5px;
  //       outline: none;
  //       padding-bottom: 8px;
  //       width: 100%;
  //       padding-left: 0;
  //       letter-spacing: 1px;

  //       &::placeholder {
  //         color: $light-grey;
  //       }

  //       &:focus {
  //         border-color: $main-green;
  //       }
  //     }
  //   }
  // }

  // .login-button {
  //   margin-bottom: 65px;
  // }

  .change-page {
    width: 80%;
    .question {
      color: $light-grey;
      display: block;
    }

    button {
      padding: 15px 15px 15px 0px;
      border: none;
      background: none;
      color: $text-white;
    }
  }
}
