.form {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	margin: 50px auto 50px auto;
	width: 80%;

	.input-group {
		margin-bottom: 95px;
		margin-top: 0;
		position: relative;

		.caps-lock-error-message {
			color: $red;
			position: absolute;
			top: -30px;
		}

		label {
			color: $text-white;
			font-size: $small-note-font-size;
			letter-spacing: 1px;
		}

		input {
			background: none;
			border-color: $light-grey;
			border-width: 0 0 2px;
			box-sizing: border-box;
			color: $text-white;
			font-size: $paragraph;
			letter-spacing: 1px;
			margin-bottom: 5px;
			margin-top: 15px;
			outline: none;
			padding-bottom: 8px;
			padding-left: 0;
			width: 100%;

			&::placeholder {
				color: $light-grey;
			}

			&:focus {
				border-color: $main-green;
			}
		}

		input[type="password"] {
			position: relative;
		}

		svg {
			fill: $text-white;
			height: 80%;
			position: absolute;
			right: 5px;
			top: 30px;
		}
	}
}
