.form {
  display: flex;
  flex-direction: column;
  margin: 50px auto 50px auto;
  width: 80%;
  box-sizing: content-box;

  .input-group {
    position: relative;
    margin-top: 0;
    margin-bottom: 75px;

    label {
      padding-left: 5px;
      letter-spacing: 1px;
    }

    input {
      background: none;
      border-color: $light-grey$cod-green-medium;
      border-width: 0 0 2px;
      box-sizing: border-box;
      color: $text-white;
      margin-top: 15px;
      margin-bottom: 5px;
      outline: none;
      padding-bottom: 8px;
      width: 100%;
      padding-left: 0;
      letter-spacing: 1px;

      &::placeholder {
        color: $light-grey;
      }

      &:focus {
        border-color: $main-green;
      }
    }
  }
}
