//colors
$text-white: #e9e9e9;
$cod-grey: #939693;
$main-green: #a6e236;
$main-green-transparent: rgba(167, 226, 56, 0.3);
$red: #e74c3c;
$red-transparent: rgba(231, 76, 60, 0.3);
// $dark-gray-background: #1b1b20;
$dark-gray-background: rgb(19, 19, 22);
// $transparent-dark-gray-background: rgba(27, 27, 32, 0.9);
$transparent-dark-gray-background: rgba(19, 19, 22, 0.9);
$black: #080808;
$black-transparent-90percent: rgba(8, 8, 8, 0.9);
$black-transparent-50percent: rgba(8, 8, 8, 0.5);
$medium-gray: rgb(53, 53, 63);
///uesd colors end here

$transparent-medium-gray-background: rgba(53, 53, 63, 0.7);

$light-blue: #26b9d1;
$light-grey: #d9d9db;
$soft-grey: rgb(78, 83, 107);

//from black and red glowing design palette
$medium-grey: rgb(22, 25, 41);
$dark-grey: rgb(24, 27, 43);

//palett from cod picture
$cod-green-lightest: #e7f5e4;
$cod-green-medium: #a3d2ae;
$cod-green-rich: #a0ceaa;
$cod-green-dark: #646b3f;

//headerer constants
$navitem-margin-on-mobile: 15px;
$nav-and-navitem-height-on-mobile: 50px;

//vote-item constants
$smaller-items-width: 15%;
$avatar-diameter: 25px;

//font sizes
$main-title: 37px;
$title1: 28px;
$title2: 22px;
$headline: 20px;
$paragraph: 18px;
$small-note-font-size: 16px;

$slices: (
	xs-mobile: 0,
	s-mobile: 320,
	m-mobile: 360,
	l-mobile: 410,
	s-tablet: 600,
	m-tablet: 720,
	l-tablet: 800,
	s-desktop: 1024,
	m-desktop: 1200,
	l-desktop: 1440,
	xl-desktop: 1600,
	hd: 1920,
);
