$dark-gray-background: #1b1b20;
$light-blue: #26b9d1;
$light-grey: #d9d9db;
$medium-gray-background: #35353f;
$text-white: #f5f6f7;

//from black and red glowing design palette
$medium-grey: #161929;
$dark-grey: #181b2b;
$soft-grey: #4e536b;

//palett from cod picture
$cod-green-lightest: #e7f5e4;
$cod-green-soft: #b8c99f;
$cod-green-medium: #a3d2ae;
$cod-green-rich: #a0ceaa;
$cod-green-dark: #646b3f;
$cod-grey: #939693;

$main-green: #01df5b;
$dark-black-progressbar: #0d0c1e;

$error-red: #e74c3c;
