#page-header {
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .main-title {
        background: url('../../assets/img/4-43271_render-cod4-call-of-duty-4.png') center center no-repeat;
        background-size: contain;
        width: 80%;
        height: 150px;
    }
    
}
    
