@use "node_modules/breakpoint-slicer" as bs;

#page-header {
	display: flex;
	flex-direction: column;
	height: calc(
		#{$nav-and-navitem-height-on-mobile} + #{$navitem-margin-on-mobile} + #{$navitem-margin-on-mobile}
	);
	position: relative;
	width: 100vw;

	.head-line {
		align-items: center;
		background-color: $transparent-dark-gray-background;
		display: flex;
		height: $nav-and-navitem-height-on-mobile;
		justify-content: space-between;
		width: 100%;

		.mw4logo {
			background: url("../../assets/img/M4Wlogo.png") left center
				no-repeat;
			background-size: cover;
			height: 50%;
			margin-left: $navitem-margin-on-mobile;
			width: 60px;

			@include bs.from(l-tablet, $slices: $slices) {
				margin-left: 10vw;
			}

			@include bs.from(xl-desktop, $slices: $slices) {
				margin-left: 15vw;
			}
		}

		.user-container {
			align-items: center;
			display: flex;
			height: $nav-and-navitem-height-on-mobile;
			justify-content: center;
			margin-right: $navitem-margin-on-mobile;

			@include bs.from(l-tablet, $slices: $slices) {
				margin-right: 10vw;
			}

			@include bs.from(xl-desktop, $slices: $slices) {
				margin-right: 15vw;
			}

			.username {
				margin-right: 15px;
			}

			.avatar {
				background-blend-mode: luminosity;
				background-size: contain;
				border-radius: 50px;
				border: 2px solid $transparent-dark-gray-background;
				height: 25px;
				position: relative;
				width: 25px;

				&:before {
					border-radius: 50px;
					border: 2px solid $text-white;
					bottom: -5px;
					content: " ";
					left: -5px;
					position: absolute;
					right: -5px;
					top: -5px;
					z-index: 100;
				}
			}

			.username {
				display: none;

				@include bs.from(s-tablet, $slices: $slices) {
					color: $text-white;
					display: block;
					font-size: 1rem;
				}
			}
		}
	}
}
